<ion-content padding class="contentinfo">
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
            <ion-col>
                <img class="userpic" src="../../assets/logo.png">
                <ion-list class="bg-transparent adpadding">
                    <div class="errormessage">Password must be filled out and should contain 6 characters.
                    </div>
                    <ion-item color="none" lines="none">
                        <button class="defbtn" (click)="player()">I want to play Raffle</button>
                    </ion-item>
                    <ion-item color="none" lines="none">
                        <button class="defbtn2" (click)="business()">I am a non profit business</button>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>