
.notf_info {
    display: none;
}
.popup_outer {
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(60, 60, 60, 0.68);
    width: 100%;
    height: calc(100vh - 160px);
    align-items: center;
    justify-content: center;
    padding: 0px;
    display: flex;
}
.close_popup {
    position: absolute;
    right: 7px;
    width: 32px;
    top: 7px;
    z-index:999;
}
.inputfield {
    position: relative;
}
.defbtn {
    color: #fff;
    padding: 15px 10px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    width: 100%;
    margin: 5px 0% 15px;
    text-transform: uppercase;
    background: #fd5c62;
    border: 2px solid #fd5c62;
    &:hover {
        background: #fd5c62;
        border: 2px solid #fd5c62;
        color: #fff;
        opacity: 0.7;
    }
}
.heading {
    text-align: center;
    font-size: 25px;
    padding: 10px 0px 15px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
}
.fe_eye {
    color: #080808 !important;
}
.popup_outer {
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgb(60 60 60 / 68%);
    width: 100%;
    height: calc(100vh - 180px);
}

.popup_area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 180px);
}

.popup_details {
    background: #fff;
    padding: 8px;
    width: 89%;
    max-width: 590px;
    margin: 0px auto;
    position: relative;
    border-radius: 10px
}

.close_popup {
    position: absolute;
    right: 7px;
    width: 32px;
    top: 7px;
}

ion-grid.def_padding_bottom {
    padding: 0px !important;


}

.popup_details h2.heading {
    padding: 20px 0 !important;
    font-size: 18px;
    margin: 0px;
}